* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #111111;
    color: white;
}

.main-header {
    padding: 20px 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.ham-menu {
    display: none;
}

.list {
    flex-grow: 0.3;
    align-self: center;
    text-transform: uppercase;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

i {
    margin: 0;
    padding: 5px;
    text-align: center;
}

.nav-list>li>i {
    font-size: 15px;
    line-height: 0;
    cursor: pointer;
}

.header-part2 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.header-part2-left {
    width: 50%;
    flex-grow: 1;
}

.header-part2-right {
    padding: 20px;
    width: 50%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

.header-btn {
    margin-top: 20px;
}

.header-btn>button {
    background-color: #C91B28;
    font-size: 25px;
    border: none;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
}

.header-img>img {
    width: 100%;
    object-fit: contain;
    object-position: top;
}

.header-intro {
    color: #B12832;
    font-size: 25px;
}

.header-title {
    font-size: 70px;
}

.header-desc {
    /* width: 80%; */
    font-size: 20px;
    color: #6a6a6a
}

.section-2 {
    display: flex;
    background-color: #fff;
}

.mid-section {
    margin: 50px 50px;
}

.banner {
    padding: 75px 100px;
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-around;
}

.banner-title {
    width: 60%;
}

.banner-title>h1 {
    font-size: 50px;
}

.banner-title>p {
    padding-top: 20px;
    font-size: 20px;
    color: #6a6a6a;
}

.banner-contact {
    align-self: center
}

.banner-btn {
    padding: 20px 50px;
    background-color: #EF4040;
    font-size: 20px;
    border: none;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
}

.project-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
}

.project-img {
    background-color: #1E1E1E;
    padding: 30px;
    width: 80%;
    height: auto;
    object-fit: cover;
}

.project-detail {
    padding: 30px 20px;
}

.project-detail>h1 {
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
}

.project-detail>a {
    padding: 50px 0px;
    font-size: 20px;
    font-weight: 700;
    color: #C91B28;
    text-decoration: none;
}

.project-grid+.g-2 {
    justify-self: end;
    align-self: center
}

.footer-section {
    margin: 0;
    padding: 20px 100px;
    background-color: #1E1E1E;
}

.f-2 {
    position: relative;
    margin: 20px 50px;
}

.footer-list {
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    list-style-type: none;
}


/* feature */

.feature-section {
    margin: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.feature-grid {
    background-color: #1E1E1E;
    padding: 50px 50px;
}

.feature-detail {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    text-align: start;
}

.feature-detail>h1 {
    font-size: 30px;
    font-weight: 900;
}

.feature-detail>p {
    font-size: 25px;
    color: #e3e3e3
}

.feature-detail>a {
    font-size: 25px;
    color: #C91B28;
    text-decoration: none;
}

.g-2>.feature-detail>a {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

.feature-img {
    width: 100px;
}

.feature-grid+.g-2 {
    background-color: #C91B28;
}

.svg-img {
    object-fit: cover;
    object-position: center;
}


/* stats */

.stats-section {
    margin: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.stats-grid {
    background-color: #1E1E1E;
}

.stats-section>.g-1 {
    background-color: #111111;
    grid-column: 1;
    grid-row: 1/3;
    justify-items: center;
    align-self: center;
}

.stats-detail {
    text-align: center;
    align-self: center;
    padding: 15px 20px;
}

.stats-detail>h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: #C91B28;
}

.stats-detail>p {
    text-align: center;
    font-size: 20px;
    color: rgb(158, 156, 156);
}

.g-1>.stats-detail>h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 900;
    color: #C91B28;
}

.s-icon {
    width: 15px;
    height: 15px;
}

.nav-logo,
.footer-logo {
    width: 100px;
}

@media (max-width:768px) {
    body {}
    .main-header {
        margin: 0;
        padding: 20px 20px;
    }
    .ham-menu {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        /* width: 50px; */
    }
    .nav-list>li {
        display: none;
    }
    .header-part2 {
        flex-direction: column;
    }
    .header-part2-right,
    .header-part2-left {
        width: 100%;
        padding: 0px 50px;
        /* justify-items: center; */
        align-items: center
    }
    .feature-section {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .stats-section {
        grid-template-columns: 1fr;
    }
    .project-section {
        grid-template-columns: 1fr;
    }
    .banner {
        padding: 50px 10px;
        text-align: center;
        flex-direction: column;
        gap: 10px;
    }
    .project-img {
        padding: 0;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
    }
    .banner-title {
        width: auto;
    }
    .footer-list {
        padding: 10px;
    }
}